@model TopicsViewModel

<partial name="_Notification" />
<style>
    .users-div{
        height: 100px;
        width: 250px;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 44%);
    }
</style>
<div class="container mt-5">
    <h5 class="text-center text-capitalize">TOP 3 USERS</h5><br />
    <div class="row justify-content-around">

        @foreach (var userGroup in Model.Responses.GroupBy(r => r.UserId)
        .OrderByDescending(g => g.Count())
        .Take(3))
        {
            var user = Model.Users.FirstOrDefault(u => u.Id == userGroup.Key);
            if (user != null)
            {
                <div class="col-md-4 users-div align-content-around" style="background-color: #444342; margin-right: 0px">
                    <button type="button" class="btn" data-toggle="modal" data-target="#top-users-modal-@user.Id">
                        <i class="bi bi-person-fill" ></i>&nbsp;@user.UserName
                        
                    </button><br />
                    &nbsp;&nbsp;&nbsp;<span style="color: #e27b13;">@userGroup.Count() Responses &nbsp; | &nbsp;@Model.AdditionalFeedbacks.Count(f => f.UserId == user.Id) Suggestions</span>
                </div>
            }
        }
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <h5>Recent Responses</h5>
        <table class ="table table-bordered table-striped shadow">
                
                <tbody>
                    @foreach (var response in Model.Responses.OrderByDescending(r => r.CreatedOn).Take(3))
                    {
                        <tr>
                            <td>
                            <i class="bi bi-person-fill" style="font-size: 22px;"></i>&nbsp;
                            @foreach (var user in Model.Users.Where(u => u.Id == response.UserId))
                            {
                                <span class="user-name">@user.UserName</span><br />
                            }
                            @foreach (var topic in Model.Topics.Where(t => t.Id == response.TopicId))
                            {
                                if (topic.Topic.Length > 50)
                                {
                                    <div class="response-container">
                                        <span class="visible-part" style="color: #e27b13">@topic.Topic.Substring(0, 50)</span>
                                        <span class="hidden-part" style="display:none; color: #e27b13;">@topic.Topic</span><br />
                                    </div>
                                    <button type="button" class="btn btn-link read-more-btn">Read More</button><br />
                                }
                                else
                                {
                                    <span class="topic-name" style="color: #e27b13;">@topic.Topic</span>
                                    <br />
                                }
                                
                            }
                            @if (response.Response.Length > 50)
                            {
                                <div class="response-container">
                                    <span class="visible-part">
                                        @response.Response.Substring(0, 50)
                                        
                                    </span>
                                    <span class="hidden-part" style="display:none;">
                                        @response.Response
                                        
                                    </span>
                                </div>
                                <button type="button" class="btn btn-link read-more-btn">Read More</button><br />
                                @for (int i = 0; i < response.Rating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                                @for (int? i = response.Rating; i < 5 && i != 0; i++)
                                {
                                    <i class="fa-regular fa-star"></i>
                                }
                            }
                            else
                            {
                                @response.Response<br />
                                for (int i = 0; i < response.Rating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                                for (int? i = response.Rating; i < 5 && i != 0; i++)
                                {
                                    <i class="fa-regular fa-star"></i>
                                }
                            }
                            </td>
                            <td class="text-right">@response.CreatedOn</td>
                        </tr>
                    }
                    <td>
                    </td>
                    <td style="text-align: right">
                        <a asp-controller="Feedback" asp-action="FeedbackInbox" style="color: #1396e2">view all...</a>
                    </td>
                </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h5>TOP 5 TOPICS</h5>
        <table class="table table-bordered table-striped shadow">
        @foreach (var topics in Model.Responses.GroupBy(r => r.TopicId)
        .OrderByDescending(g => g.Count())
        .Take(5))
        {
            var topic = Model.Topics.FirstOrDefault(u => u.Id == topics.Key);
            @if (topic != null)
            {
                <tr>
                    <td>
                        @if (topic.Topic.Length > 50)
                        {
                        <div class="response-container">
                            <span class="visible-part">
                                <a class="btn" asp-area="" asp-controller="Feedback" asp-route-id="@topic.Id" asp-action="TopicResponseView">@topic.Topic.Substring(0,50) </a><br />
                                &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #e27b13">@topics.Count() Responses</span>
                            </span>
                                    <span class="hidden-part" style="display:none;">
                                        <a class="btn" asp-area="" asp-controller="Feedback" asp-route-id="@topic.Id" asp-action="TopicResponseView">@topic.Topic </a><br />
                                        &nbsp; &nbsp; &nbsp; &nbsp;<span style="color: #e27b13">@topics.Count() Responses</span>
                                    </span>
                        </div>
                                <button type="button" class="btn btn-link read-more-btn">Read More</button>
                            }
                            else
                            {
                                <span>
                                    <a class="btn" asp-area="" asp-controller="Feedback" asp-route-id="@topic.Id" asp-action="TopicResponseView">@topic.Topic </a><br />
                                    &nbsp; &nbsp; &nbsp; &nbsp;<span style="color: #e27b13">@topics.Count() Responses</span>
                                </span>
                            }
                    </td>
                </tr>
            }
        }
        <td style="text-align: right">
                <a asp-controller="Feedback" asp-action="TopicsDetailedView" style="color: #1396e2">view all...</a>
        </td>
        </table>
    </div>
</div>
<div class="mt-5">
    <h5>Recent suggestions</h5>
    <table class="table table-bordered table-striped shadow">
        <thead>
            <tr>
                <th>
                    Suggestions
                </th>
                <th>
                    Users
                </th>
                <th>
                    Submitted On
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AdditionalFeedbacks != null)
            {
                @foreach (var feedback in Model.AdditionalFeedbacks.OrderByDescending(f => f.SubmittedOn).Take(6))
                {
                    <tr>
                        <td>
                            @if (feedback.Feedback.Length > 100)
                            {
                                <div class="response-container">
                                    <span class="visible-part">@feedback.Feedback.Substring(0, 100)</span>
                                    <span class="hidden-part" style="display:none;">@feedback.Feedback</span>
                                </div>
                                <button type="button" class="btn btn-link read-more-btn">Read More</button>
                            }
                            else
                            {
                                @feedback.Feedback
                            }
                        </td>
                        <td>
                            @foreach (var user in Model.Users.Where(u => u.Id == feedback.UserId))
                            {
                                @user.UserName
                            }
                        </td>
                        <td>
                            @feedback.SubmittedOn
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        No feedbacks.
                    </td>
                </tr>
            }
            <td>

            </td>
            <td>

            </td>
            <td style="text-align: right">
            <a asp-controller="Feedback" asp-action="SuggestionInbox" style="color: #1396e2">view all...</a>
            </td>
        </tbody>
    </table>
</div>


<!--Top Users Modal-->
@foreach (var user in Model.Users)
{
    <div class="modal fade" id="top-users-modal-@user.Id" tabindex="-1" role="dialog" aria-labelledby="custom-period-modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="custom-period-modalLongTitle">@user.UserName</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>User's responses:</h6>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Reponses
                                </th>
                                <th>
                                    Topics
                                </th>
                                <th>
                                    Given On
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Responses != null)
                            {
                                foreach (var response in Model.Responses.Where(r => r.UserId == user.Id).OrderByDescending(r => r.CreatedOn))
                                {
                                    <tr>
                                        <td>
                                            @if (response.Response.Length > 50)
                                            {
                                                <div class="response-container">
                                                    <span class="visible-part">
                                                        @response.Response.Substring(0, 50)<br />
                                                        @for (int i = 0; i < response.Rating; i++)
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                        @for (int? i = response.Rating; i < 5 && i != 0; i++)
                                                        {
                                                            <i class="fa-regular fa-star"></i>
                                                        }
                                                    </span>
                                                    <span class="hidden-part" style="display:none;">
                                                        @response.Response<br />
                                                        @for (int i = 0; i < response.Rating; i++)
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                        @for (int? i = response.Rating; i < 5 && i != 0; i++)
                                                        {
                                                            <i class="fa-regular fa-star"></i>
                                                        }
                                                    </span>
                                                </div>
                                                <button type="button" class="btn btn-link read-more-btn">Read More</button>
                                            }
                                            else
                                            {
                                                @response.Response<br />
                                                for (int i = 0; i < response.Rating; i++)
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                                for (int? i = response.Rating; i < 5 && i != 0; i++)
                                                {
                                                    <i class="fa-regular fa-star"></i>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var topic in Model.Topics.Where(t => t.Id == response.TopicId))
                                            {
                                                if (topic.Topic.Length > 50)
                                                {
                                                    <div class="response-container">
                                                        <span class="visible-part">@topic.Topic.Substring(0, 50)</span>
                                                        <span class="hidden-part" style="display:none;">@topic.Topic</span>
                                                    </div>
                                                    <button type="button" class="btn btn-link read-more-btn">Read More</button>
                                                }
                                                else
                                                {
                                                    @topic.Topic
                                                }
                                            }
                                        </td>
                                        <td>
                                            @response.CreatedOn
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        No responses for this topic.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <h6>User's suggestions:</h6>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Suggestions
                                </th>
                                <th>
                                    Submitted On
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AdditionalFeedbacks != null)
                            {
                                @foreach (var feedback in Model.AdditionalFeedbacks.Where(f => f.UserId == user.Id).OrderByDescending(f => f.SubmittedOn))
                                {
                                    <tr>
                                        <td>
                                            @if (feedback.Feedback.Length > 100)
                                            {
                                                <div class="response-container">
                                                    <span class="visible-part">@feedback.Feedback.Substring(0, 100)</span>
                                                    <span class="hidden-part" style="display:none;">@feedback.Feedback</span>
                                                </div>
                                                <button type="button" class="btn btn-link read-more-btn">Read More</button>
                                            }
                                            else
                                            {
                                                @feedback.Feedback
                                            }
                                        </td>
                                        <td>
                                            @feedback.SubmittedOn
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        User has no feedbacks.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>



<script>
    $(document).ready(function () {
        $('.read-more-btn').click(function () {
            console.log('Button clicked');

            var container = $(this).prev('.response-container');
            container.find('.visible-part, .hidden-part').toggle();

            var hiddenPart = container.find('.hidden-part');
            if (hiddenPart.is(':visible')) {
                $(this).text('Read Less');
            } else {
                $(this).text('Read More');
            }
        });
    });
</script>

