@model TopicsViewModel
<h2 class="mt-3 mb-2">Feedback Topics</h2>
<partial name="_Notification" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .feedback-topics{
        background-color: #75726f;
        border-radius: 0.44rem;
    }
    .list-group-item:hover {
        cursor: pointer;
    }
</style>
<form method="post">
    <div class="feedback-topics mb-2">
        <ul class="list-group">
            @foreach (var topic in Model.Topics.Where(s => s.Status == "Active"))
            {
                <li class="list-group-item">
                    <div>
                        <span>@topic.Topic</span>
                        <textarea id="response-topic-@topic.Id" name="responses[@topic.Id]" class="mt-2 mb-2 form-control" rows="4" cols="126" style="display: none;"></textarea>
                        <div onmouseout="SelectedRating(@topic.Id)">
                            @if (topic.EnableRating == "Enable")
                            {
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <i id="rate-@topic.Id-@i" onmouseout="RatingOut(@topic.Id, @i)" onmouseover="RatingOver(@topic.Id, @i)" onclick="RatingClick(@topic.Id, @i)" class="fa-regular fa-star"></i>
                                }
                            }
                        </div>
                        <input type="hidden" id="Rating-@topic.Id" name="ratings[@topic.Id]" />
                    </div>
                </li>
            }
        </ul>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js" integrity="sha512-hkvXFLlESjeYENO4CNi69z3A1puvONQV5Uh+G4TUDayZxSLyic5Kba9hhuiNLbHqdnKNMk2PxXKm0v7KDnWkYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function ($) {
        $('.list-group-item textarea, .list-group-item i').hide();

        $('.list-group-item').click(function (event) {
            var inputField = $(this).find('textarea');
            var ratingStars = $(this).find('i');

            inputField.toggle();
            ratingStars.toggle();

            event.stopPropagation();
        });

        $('.list-group-item textarea, .list-group-item i').click(function (event) {
            event.stopPropagation();
        });

        $(document).click(function (event) {
            if (!$(event.target).closest('.list-group-item').length) {
                $('.list-group-item textarea').hide();
                $('.list-group-item i').hide();
            }
        });
    });

    // Rating Functions
    function RatingOver(topicId, rating) {
        for (var i = 1; i <= rating; i++) {
            $('#rate-' + topicId + '-' + i).removeClass('fa-regular').addClass('fa-solid');
        }
    }

    function RatingOut(topicId, rating) {
        for (var i = 1; i <= rating; i++) {
            $('#rate-' + topicId + '-' + i).removeClass('fa-solid').addClass('fa-regular');
        }
    }

    function RatingClick(topicId, rating) {
        $('#Rating-' + topicId).val(rating);
        for (var i = 1; i <= rating; i++) {
            $('#rate-' + topicId + '-' + i).removeClass('fa-regular').addClass('fa-solid');
        }
        for (var j = rating + 1; j <= 5; j++) {
            $('#rate-' + topicId + '-' + j).removeClass('fa-solid').addClass('fa-regular');
        }
    }

    function SelectedRating(topicId) {
        var ratingValue = $('#Rating-' + topicId).val();
        if (ratingValue != '') {
            for (var i = 1; i <= ratingValue; i++) {
                $('#rate-' + topicId + '-' + i).removeClass('fa-regular').addClass('fa-solid');
            }
            for (var j = parseInt(ratingValue) + 1; j <= 5; j++) {
                $('#rate-' + topicId + '-' + j).removeClass('fa-solid').addClass('fa-regular');
            }
        }
    }
</script>