@model TopicsViewModel

<partial name="_Notification" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.1/emojionearea.min.css" integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container mt-5">
    <table class="table table-bordered table-striped shadow">
        <thead>
            <tr>
                <th>
                    Topics
                </th>
                <th>
                    Responses
                </th>
                <th>

                </th>
                <th>
                    Given On
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var response in Model.Responses.OrderByDescending(r => r.CreatedOn))
            {
                <tr>
                    <td>
                        @foreach (var topic in Model.Topics.Where(t => t.Id == response.TopicId))
                        {
                            if (topic.Topic.Length > 50)
                            {
                                <div class="response-container">
                                    <span class="visible-part">
                                        <button type="button" class="btn" data-toggle="modal" data-target="#feedbacks-modal-@topic.Id">
                                            @topic.Topic.Substring(0, 50)
                                        </button>
                                    </span>
                                    <span class="hidden-part" style="display:none;">
                                        <button type="button" class="btn" data-toggle="modal" data-target="#feedbacks-modal-@topic.Id">
                                            @topic.Topic
                                        </button>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-link read-more-btn">Read More</button>
                            }
                            else
                            {
                                <button type="button" class="btn" data-toggle="modal" data-target="#feedbacks-modal-@topic.Id">
                                    @topic.Topic
                                </button>
                            }
                        }
                    </td>
                    <td style="position: relative;">
                        @if (response.Response.Length > 100)
                        {
                            <div class="row">
                                <div class="col-10">
                                    <div class="response-container">
                                        <span class="visible-part">@response.Response.Substring(0, 50)</span>
                                        <span class="hidden-part" style="display:none;">@response.Response</span>
                                    </div>
                                    <button type="button" class="btn btn-link read-more-btn">Read More</button>

                                    <br />
                                    @for (int i = 0; i < response.Rating; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    @for (int? i = response.Rating; i < 5 && i != 0; i++)
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                </div>
                                <div class="col-2 text-end">
                                    @if (response.isEdited == "True")
                                    {
                                        <div class="text-end">
                                            <span style="color: #f19539;">(edited)</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-6">
                                    @response.Response
                            
                                    @for (int i = 0; i < response.Rating; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    @for (int? i = response.Rating; i < 5 && i != 0; i++)
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                </div>
                                <div class="col-6">
                                    @if (response.isEdited == "True")
                                    {
                                        <div class="text-end">
                                            <span style="color: #f19539;">(edited)</span>
                                        </div>
                                    }
                                </div>
                            </div> 
                        }
                    </td>
                    <td>
                        <button type="button" class="btn" data-toggle="modal" data-target="#response-edit-modal-@response.Id">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                    <td>
                        @response.CreatedOn
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
   
</div>

@foreach (var topic in Model.Topics)
{
    <div class="modal fade" id="feedbacks-modal-@topic.Id" tabindex="-1" role="dialog" aria-labelledby="custom-period-modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @if (topic.Topic.Length > 50)
                    {
                        <div class="response-container">
                            <span class="visible-part">
                                <h5 class="modal-title" id="custom-period-modalLongTitle">@topic.Topic.Substring(0, 50)</h5>
                            </span>
                            <span class="hidden-part" style="display:none;">
                                <h5 class="modal-title" id="custom-period-modalLongTitle">@topic.Topic</h5>
                            </span>
                        </div>
                        <button type="button" class="btn btn-link read-more-btn">Read More</button>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <h5 class="modal-title" id="custom-period-modalLongTitle">@topic.Topic</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    }
                </div>
                <div class="modal-body">
                    <h6>Received responses:</h6>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Reponses
                                </th>
                                <th>
                                    Given On
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Responses != null)
                            {
                                foreach (var response in Model.Responses.Where(r => r.TopicId == topic.Id).OrderByDescending(r => r.CreatedOn))
                                {
                                    <tr>
                                        <td>
                                            @if (response.Response.Length > 100)
                                            {
                                                <div class="response-container">
                                                    <span class="visible-part">@response.Response.Substring(0, 50)</span>
                                                    <span class="hidden-part" style="display:none;">@response.Response</span>
                                                </div>
                                                <button type="button" class="btn btn-link read-more-btn">Read More</button>

                                                <br />
                                                @for (int i = 0; i < response.Rating; i++)
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                                @for (int? i = response.Rating; i < 5 && i != 0; i++)
                                                {
                                                    <i class="fa-regular fa-star"></i>
                                                }
                                            }
                                            else
                                            {
                                                @response.Response

                                                <br />
                                                for (int i = 0; i < response.Rating; i++)
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                                for (int? i = response.Rating; i < 5 && i != 0; i++)
                                                {
                                                    <i class="fa-regular fa-star"></i>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @response.CreatedOn
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        No responses for this topic.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var response in Model.Responses)
{
    <div class="modal fade" id="response-edit-modal-@response.Id" tabindex="-1" role="dialog" aria-labelledby="custom-period-modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @foreach (var topic in Model.Topics.Where(t => t.Id == response.TopicId))
                    {
                        @if (topic.Topic.Length > 80)
                        {
                            <div class="response-container">
                                <span class="visible-part">
                                    <h5 class="modal-title" id="custom-period-modalLongTitle">@topic.Topic.Substring(0, 80)</h5>
                                </span>
                                <span class="hidden-part" style="display:none;">
                                    <h5 class="modal-title" id="custom-period-modalLongTitle">@topic.Topic</h5>
                                </span>
                            </div>
                            <button type="button" class="btn btn-link read-more-btn">Read More</button>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        }
                        else
                        {
                            <h5 class="modal-title" id="custom-period-modalLongTitle">@topic.Topic</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        }
                    }
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input  type="hidden" name="responseID" value="@response.Id" />
                        <textarea name="response" rows="4" cols="60">@response.Response</textarea><br />
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.1/emojionearea.min.js" integrity="sha512-ZuxZDe3rBE+OMV5ki0VZC2MSCp6NaoTiDHvYenVag+L/Agxb+MMKHZqVNXFXYX/ruuRofd5setKzyCupZCURvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    $(document).ready(function ($) {
        $('textarea').emojioneArea({
            pickerPosition: 'bottom'
        });
        $('.read-more-btn').click(function () {
            console.log('Button clicked');

            var container = $(this).prev('.response-container');
            container.find('.visible-part, .hidden-part').toggle();

            var hiddenPart = container.find('.hidden-part');
            if (hiddenPart.is(':visible')) {
                $(this).text('Read Less');
            } else {
                $(this).text('Read More');
            }
        });
    });
</script>